
.form-control:focus {
    border-color: #e77600 !important;
    outline: #e77600;
}

.amz-btn:active {
	outline-color: none !important;
	outline: none !important;

}

.amz-btn:focus {
	outline-color: none !important;
}

.amz-btn:active {
    border-color: #e77600 !important;
    outline-color: #e77600 !important;
}

.amz-btn:focus {
	outline-color: #e77600 !important;
}

.btn:active {
	border-color: #e77600 !important;
	outline: #e77600;
}

.btn:focus {
	border-color: #e77600 !important;
	outline: #e77600;
}

.wht-btn {
	background-color: white;
}

.form-control {
	width: 35%;
	margin: 0 auto;
	float: none;
}

.title {
	margin-top: 7px;
	margin-bottom: 12px;
}

#scanner-pop {
    font-size: 1em; 
    background-color: #FFFFFF; 
    width: 75%;
    margin: 0 auto;
		border-radius: 10px;
}

#scanner-code, #barcode-desc {
/*    //padding: 5px;*/
    margin: 7px;
    text-align: center;
/*    //background-color: #e5eecc;
    //border: solid 1px #c3c3c3;*/
}

/*#scanner-code {
    font-size: .5em;
    //padding: 10px;
    display: none;
}*/
/*#mobilealert {
	display: none;
}
*/
.toggle-div {
	display: none;
}

#scanner-code p {
  color: grey;
}

.amzorng {
	color: #FF9900;
}

#toggle-container h3 { cursor:pointer; }
/*#toggle-container h3.active { color: #FF9900; }
*//*#toggle-container div { height:0; overflow:hidden; position:relative; }
#toggle-container div p { padding:0; margin-bottom: 5px; } 

*/
@media screen and (min-width : 0px) and (max-width : 800px) {
#pbutton, #titlebar, .printbutton {
	display: none;
}

.jumbotron {
	margin-top: -5px;
}
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    margin: 0 auto;
    top: 0;
  }

  #barcode {
    width: 374px;
    height: 272px;
}


