


nav li {
	padding-right: 50px;
	padding-left: 50px;
	font-family: Amatic SC, cursive;
	text-decoration: none;
	display: inline;
	font-size: 18px;
	font-weight: bold;
	/*Adjust the Links at top of page*/
}

.navbar {
	text-align: center;
	top: 10px;
}

a {
	text-decoration:none;
	color:black;
	/*adjust how links are displayed*/
}

#title { 
font-size: 50px;
}

tr.social {
    position: absolute;
    right: 80px;
}

tr.social td ul li {
	 padding: 10px 5px 10px 5px;
	 list-style-type: none; 
}

.profilepic {
	height: 50px;
	width: 50px;
	border-radius: 100px;
	float: left;
	
}

h2 {
	display:center;
/*Changes my name at top of page*/
}


