
.buttons {
	font-family: Amatic SC, cursive;
}

.navbar {
	text-align: center;
}

nav li {
	padding-right: 50px;
	padding-left: 50px;
	font-family: Amatic SC, cursive;

}

#title { 
font-size: 60px;
text-align: center;
}

navbar {
	display: inline-block;
	position: relative;
	top: 11px;
}

ul li {
	list-style-type: none;
	display: inline;

}

h2 { 
background-color: #9966FF;
font-family: Past Due;

.profilepic {

}

#nav li a:hover {
	text-transform: none;

}

/*.ResizeImage {
	width: 300px;
	height: 450px;
	transform: scal;
}

.row_position {
	text-align: center;

}
ul > li {
	list-style-type: none;
	word-spacing: 30px;
}

table {
	background-color: #8888FF;
	width: 100%;
}



border-radius: 25%;
}

body {
	background-color: black;
}

.menu > li {
	display: inline;
	font-size: 24px;
	word-spacing: 100px;
}/*
