
.profilepic {
	height: 50px;
	width: 50px;
	border-radius: 100px;
	float: left;
}

h2 {
	display:center;
/*Changes my name at top of page*/
}

h2 img {
	float: left;
}

p img {

}

nav li {
	padding-right: 10px;
	padding-left: 10px;
	font-family: Amatic SC, cursive;
	text-decoration: none;
	display: inline;
	font-size: 18px;
	font-weight: bold;
	margin: 50px 0px 0px 50px;
	/*Adjust the Links at top of page*/
}

nav ul li a:hover {
	border: 1px solid black;
	border-radius: 4px;

}

.main {

}

.navbar {
	text-align: center;
	top: 10px;
}

.divider {
	height: 10px;
	border: 1px solid black;
	padding: 0px;
}

a {
	text-decoration:none;
	color:black;
	/*adjust how links are displayed*/
}

#title { 
font-size: 50px;
padding-left: 10px;
}

tr.social {
	position: absolute;
	right:30px;
}


tr.social td ul li img {
	list-style-type: none; 
	border-radius: 5px 5px 5px 5px;
	margin: 0px 2px 2px 0px;
	/*changes the individual social buttons*/
}

tr.social td ul li {
	list-style-type: none;
} /*changes the list of social buttons look like*/

footer {
	border-top: 1px solid;
	text-align: center;
}

footer {
	
}

#mainimage {
	position: left -1px;
	height: 400px;
	width: auto;
	overflow: scroll;
}
